.form-content {
  background-color: #ffffff;
}

/* Css Profile */
.text-profile {
  color: black;
  margin: 0;
}

/* Css Tin Đã Đăng */
.text-post {
  color: #848484;
  margin: 0;
}
.profile-icon {
  font-size: 20px;
  padding-right: 10px;
}

.profile-icon-active {
  font-size: 20px;
  padding-right: 10px;
}

.profile-thumb {
  width: 128px;
  height: 128px;
}

.profile-img-controls {
  align-self: center;
}
